# Introducci√≥n a Python

## Tipos de celdas en Jupyter Notebook

## Markdown
- Headers
- Subheaders
- Bold / negrita
- Listas
- Listas numeradas
- Link
- Im√°genes
- Citas
- C√≥digo en l√≠nea
- [Tablas](https://www.tablesgenerator.com/markdown_tables)
- Ecuaciones en l√≠nea 
- Bloques de ecuaciones

Hola

# T√≠tulo

## Subt√≠tulo 1

### Subt√≠tulo 2

#### Subt√≠tulo 3

**Texto en negrita**

***Texto en cursiva***

Cosas que se pueden hacer en markdown
- Elemento 1
- Elemento 2
- Elemento 3

Lista numerada
1. Elemento 1
2. Elemento 2
3. Elemento 3

[Documentaci√≥n de ML](https://scikit-learn.org/stable/unsupervised_learning.html)

![Space cat](https://m.media-amazon.com/images/I/71-4jKZCKVL._AC_SY879_.jpg)

Esto es un ejemplo de c√≥digo: `print("Hello world")`

In [1]:
print("Hola mundo")

Hola mundo

```sql
SELECT * FROM mi_tabla;
```

```python
SELECT * FROM mi_tabla;
```

```bash
ls
```

| a   | b     | c    | d | e |
|-----|-------|------|---|---|
| aaa | aaaaa | aaaa |   |   |
|     |       |      |   |   |
|     |       |      |   |   |

[Generador de tablas markdown](https://www.tablesgenerator.com/markdown_tables)

$E = mc^2$

## C√≥digo

- C√≥digo python
  - Comentarios en python
- Comandos de terminal
  - pwd
  - open .
  - ls .

In [5]:
!open https://www.tablesgenerator.com/markdown_tables

### Atajos

Para ejecutar la celda

- `ctrl + enter`
- `shift + enter` #esta ejecuta la celda y salta a la siguiente

- `a` para la nueva celda de arriba
- `b` para la nueva celda de abajo
- `d + d para el modo de acceso directo
  
- `m` o `y` para cambiar entre markdwon y c√≥digo

b -> below
a -> above

## Ejecuci√≥n
- Play
- Kernel

In [6]:
num = 18

In [7]:
print(num)

18

# The Zen of Python

- [PEP-20](https://peps.python.org/pep-0020/), The Zen of Python
- [PEP-8](https://peps.python.org/pep-0008/), Estilo de c√≥digo
- [PEP-257](https://peps.python.org/pep-0257/), Docstring
- [PEP-484](https://peps.python.org/pep-0484/), Anotaciones de tipado

In [8]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Python, c√≥digo y IDE

- Jupyter notebooks
- Archivos python
- VSCode

In [9]:
!touch main.py # esto crea un archivo

In [10]:
import pandas as pd

alumnos = [{
    "Nombre": "Manuel Pe√±a",
    "Ciudad": "Ja√©n",
    "Experiencia": "Conocimiento en IA/Big data. Herramientas nuevas",
    "Profesi√≥n": "Kryndil (IBM). Virtualizaci√≥n",
    "Hobby": "Andar"
},
{
    "Nombre": "Luis (Servando)",
    "Ciudad": "M√°laga",
    "Experiencia": "Estad√≠stica/econom√≠a",
    "Profesi√≥n": "Banca",
    "Hobby": "P√≥ker"
},
{
    "Nombre": "√ìscar Fern√°ndez",
    "Ciudad": "Cuenca",
    "Experiencia": "Grado desarrollo apps",
    "Profesi√≥n": "Hosteler√≠a",
    "Hobby": "M√∫sica, deporte"
},
{
    "Nombre": "Albert Ripoll",
    "Ciudad": "Tei√†",
    "Experiencia": "M√°ster big data, Bootcamp DA",
    "Profesi√≥n": "Graduado en f√≠sica",
    "Hobby": "Senderismo, baloncesto"
},
{
    "Nombre": "Pablo Padial",
    "Ciudad": "Madrid",
    "Experiencia": "Ingenier√≠a",
    "Profesi√≥n": "Estudiante",
    "Hobby": "Deporte, f√∫tbol, tenis"
},
{
    "Nombre": "Adri√°n Rodr√≠guez",
    "Ciudad": "Sevilla",
    "Experiencia": "Sin experiencia en programaci√≥n",
    "Profesi√≥n": "Hosteler√≠a/discotecas",
    "Hobby": "Gym üí™"
},
{
    "Nombre": "Enric Pe√±alver",
    "Ciudad": "Vilafranca del pened√®s",
    "Experiencia": "Ingenier√≠a en matem√°tica y f√≠sica",
    "Profesi√≥n": "Estudiante",
    "Hobby": "Correr y calistenia"
},
{
    "Nombre": "David G√≥mez",
    "Ciudad": "Cuenca",
    "Experiencia": "Ingeniero industrial",
    "Profesi√≥n": "Ingeniero de procesos",
    "Hobby": "Impresi√≥n 3D y p√°del"
},
{
    "Nombre": "Carlos Barrientos",
    "Ciudad": "Madrid",
    "Experiencia": "Grado superior finanzas y DAMP",
    "Profesi√≥n": "Admon",
    "Hobby": "F√∫tbol, piloto drones"
},
{
    "Nombre": "Vicmary Mart√≠nez",
    "Ciudad": "Venezuela/Madrid",
    "Experiencia": "Ing. procesos/qu√≠mica. CRM. Bases de datos, PowerBI, Excel, XML, HTML, C++. Python con IBM",
    "Profesi√≥n": "Grabadora de datos. Dynamic 365",
    "Hobby": "Salsa"
},
{
    "Nombre": "Pial Islam",
    "Ciudad": "Bangladesh/Barcelona",
    "Experiencia": "Graduado en inform√°tica",
    "Profesi√≥n": "Estudiante/buscando trabajo",
    "Hobby": "Senderismo"
}
]
#!pip install pandas
df = pd.DataFrame(alumnos)
df

,Nombre,Ciudad,Experiencia,Profesi√≥n,Hobby
0,Manuel Pe√±a,Ja√©n,Conocimiento en IA/Big data. Herramientas nuevas,Kryndil (IBM). Virtualizaci√≥n,Andar
1,Luis (Servando),M√°laga,Estad√≠stica/econom√≠a,Banca,P√≥ker
2,√ìscar Fern√°ndez,Cuenca,Grado desarrollo apps,Hosteler√≠a,"M√∫sica, deporte"
3,Albert Ripoll,Tei√†,"M√°ster big data, Bootcamp DA",Graduado en f√≠sica,"Senderismo, baloncesto"
4,Pablo Padial,Madrid,Ingenier√≠a,Estudiante,"Deporte, f√∫tbol, tenis"
5,Adri√°n Rodr√≠guez,Sevilla,Sin experiencia en programaci√≥n,Hosteler√≠a/discotecas,Gym üí™
6,Enric Pe√±alver,Vilafranca del pened√®s,Ingenier√≠a en matem√°tica y f√≠sica,Estudiante,Correr y calistenia
7,David G√≥mez,Cuenca,Ingeniero industrial,Ingeniero de procesos,Impresi√≥n 3D y p√°del
8,Carlos Barrientos,Madrid,Grado superior finanzas y DAMP,Admon,"F√∫tbol, piloto drones"
9,Vicmary Mart√≠nez,Venezuela/Madrid,"Ing. procesos/qu√≠mica. CRM. Bases de datos, Po...",Grabadora de datos. Dynamic 365,Salsa
10,Pial Islam,Bangladesh/Barcelona,Graduado en inform√°tica,Estudiante/buscando trabajo,Senderismo

# Tipo de datos

- int: n√∫meros enteros
- float: decimales
- str
- booleans: True / False

# Int

In [11]:
5

5

In [12]:
num = 5

In [13]:
type(num)

int

## Floats

In [ ]:
5.09 #decimales

5.09

In [15]:
type(5.09)

float

## Operaciones b√°sicas

In [16]:
a = 10
b = 4

a * b

40

In [17]:
a + b

14

In [18]:
a - b

6

In [19]:
a / b

2.5

In [20]:
a = 10
b = 3

a / b

3.3333333333333335

`floor division`

In [21]:
a = 10
b = 3

a // b

3

`modulus`

In [22]:
a = 17
b = 15

a % b #resto

2

`exponente`

In [23]:
3 ** 2

9

## Strings

- Comment
- Multi-line comment
- Break line
- Emojis

In [24]:
"aaaaaaaaaasssasa"

'aaaaaaaaaasssasa'

In [ ]:
comentario_multi_linea = """comillas triples para poder tener un comentario multilinea holaaa"""

comentario_multi_linea

'comillas triples para poder tener un comentario multilinea holaaa'

In [26]:
# \n: salto de l√≠nea
# \t: tabulador (5 espacios en blanco)

In [29]:
comentario_multi_linea = """comillas triples
para poder tener un comentario \t\tmultilinea    
holaaa"""

print(comentario_multi_linea)

comillas triples
para poder tener un comentario 		multilinea
holaaa

In [30]:
# regex: caracteres que escapan: \

In [31]:
string_vacia = ""
type(string_vacia)

str

In [32]:
string_con_emoticonos= "3456ytgvbniu765r"
string_con_emoticonos

'3456ytgvbniu765r'

Iconos en macOS: `ctrl` + `command` + `space` √≥ üåç

Iconos en Windows: tecla `windows` & `.`

## Cast

Conversi√≥n de tipado

In [33]:
num = 5

In [34]:
num = float(num)

In [35]:
type(num)

float

In [36]:
# casteo = un cambio de tipo de dato
    # de int a float
    # pasando la funci√≥n que recibe un argumento que es la variable en s√≠
    # si no lo guardo en una variable (o machando la misma-num- o en otra, no se guarda)

In [37]:
saludo = "Hola qu√© tal"
saludo.upper() # devolviendo una COPIA de haber aplicado esta transformaci√≥n al original

'HOLA QU√â TAL'

In [38]:
saludo

'Hola qu√© tal'

In [39]:
saludo = "Hola qu√© tal"
saludo = saludo.upper()
saludo

'HOLA QU√â TAL'

In [40]:
df.rename(columns={"Hobby":"Afici√≥n"}, inplace=True) # no devuelve nada (visual), seguramente se haya modificado el objeto que estoy pasando

In [41]:
df.rename(columns={"Nombre":"NOMBRE"}, inplace=True)

In [42]:
df

,NOMBRE,Ciudad,Experiencia,Profesi√≥n,Afici√≥n
0,Manuel Pe√±a,Ja√©n,Conocimiento en IA/Big data. Herramientas nuevas,Kryndil (IBM). Virtualizaci√≥n,Andar
1,Luis (Servando),M√°laga,Estad√≠stica/econom√≠a,Banca,P√≥ker
2,√ìscar Fern√°ndez,Cuenca,Grado desarrollo apps,Hosteler√≠a,"M√∫sica, deporte"
3,Albert Ripoll,Tei√†,"M√°ster big data, Bootcamp DA",Graduado en f√≠sica,"Senderismo, baloncesto"
4,Pablo Padial,Madrid,Ingenier√≠a,Estudiante,"Deporte, f√∫tbol, tenis"
5,Adri√°n Rodr√≠guez,Sevilla,Sin experiencia en programaci√≥n,Hosteler√≠a/discotecas,Gym üí™
6,Enric Pe√±alver,Vilafranca del pened√®s,Ingenier√≠a en matem√°tica y f√≠sica,Estudiante,Correr y calistenia
7,David G√≥mez,Cuenca,Ingeniero industrial,Ingeniero de procesos,Impresi√≥n 3D y p√°del
8,Carlos Barrientos,Madrid,Grado superior finanzas y DAMP,Admon,"F√∫tbol, piloto drones"
9,Vicmary Mart√≠nez,Venezuela/Madrid,"Ing. procesos/qu√≠mica. CRM. Bases de datos, Po...",Grabadora de datos. Dynamic 365,Salsa
10,Pial Islam,Bangladesh/Barcelona,Graduado en inform√°tica,Estudiante/buscando trabajo,Senderismo

### Cast expl√≠cito
Por otro lado, podemos realizar conversiones entre tipos o casteos de forma expl√≠cita utilizando diferentes funciones que nos proporciona Python. Las m√°s utilizadas son las siguientes:

`float(), str(), int(), list(), set()`

#### Convertir float a int
Para convertir de float a int debemos usar int(). Pero tenga cuidado, porque el tipo entero no puede almacenar decimales, por lo que perderemos lo que est√© despu√©s del punto decimal.

In [43]:
int(5.0)

5

In [44]:
int(5.3)

5

#### Convertir un float en una string
Podemos convertir un float en una cadena con str(). Podemos ver en el siguiente c√≥digo c√≥mo cambia el tipo de a despu√©s de la conversi√≥n.

In [45]:
str(5.8)

'5.8'

#### Convertir int a str
Al igual que la conversi√≥n a float anterior, podemos convertir de string a int usando int().

In [46]:
str(5)

'5'

In [47]:
float(544.0876)

544.0876

In [48]:
int(5.2323)

5

In [49]:
int("5")

5

In [50]:
int("5.6")

ValueError: invalid literal for int() with base 10: '5.6'

In [51]:
int(float("5.6"))

5

### Cast impl√≠tico
Esta conversi√≥n de tipos la realiza Python de forma autom√°tica, pr√°cticamente sin que nos demos cuenta. Aun as√≠, es importante saber qu√© est√° pasando por debajo para evitar problemas futuros.

El ejemplo m√°s sencillo en el que podemos ver este comportamiento es el siguiente:

- a es un int
- b es un float

Pero si sumamos a y b y almacenamos el resultado en a, podemos ver c√≥mo internamente Python ha convertido el int en float para realizar la operaci√≥n, y la variable resultante es float.
Sin embargo, hay otros casos en los que Python no es tan inteligente y no es capaz de realizar la conversi√≥n. Si intentamos agregar un int a una cadena, obtendremos un TypeError.

In [52]:
10 / 2

5.0

In [53]:
10 / 2.0

5.0

## Input
### Input
Para asignar una variable a un valor ingresado por el usuario en la consola, utilice la instrucci√≥n
`input(message) : Muestra el mensaje de la cadena por la terminal y devuelve una cadena con la entrada`

In [54]:
nombre = "√Ålvaro"

In [4]:
nombre = input("¬øCu√°l es tu nombre?: ")

In [5]:
nombre

'Pepe'

In [6]:
edad = int(input("¬øCu√°ntos a√±os tienes?: "))
edad

38

In [8]:
int(edad) * 3

114

#### Programaci√≥n defensiva

### Print
La funci√≥n print() imprime el mensaje especificado en la pantalla o en otro dispositivo de salida est√°ndar.

El mensaje puede ser una cadena o cualquier otro objeto; el objeto se convertir√° en una cadena antes de escribirse en la pantalla.

In [9]:
print("asdasodnasds")

asdasodnasds

## Format

### Formato - 1

In [11]:
num = 5
print(num)

5

In [12]:
f"La edad es edad"

'La edad es edad'

In [13]:
f"La edad es {edad} y el n√∫mero es {num}"

'La edad es 38 y el n√∫mero es 5'

### Formato - 2

In [14]:
"La edad es {}".format(edad)

'La edad es 38'

In [15]:
"La edad es {} y el n√∫mero es {}".format(edad, num)

'La edad es 38 y el n√∫mero es 5'

## String

### M√©todos de string
Los m√©todos son acciones o funciones que un objeto puede realizar. As√≠ como Python ofrece una serie de funciones ‚Äúintegradas‚Äù, tambi√©n nos ofrece un conjunto de m√©todos ya creados. Estos m√©todos dependen del tipo de objeto con el que estemos trabajando.

Vamos a explicar en clase algunos de los m√©todos m√°s utilizados, pero ten en cuenta que siempre debes tener presente la [documentaci√≥n](https://docs.python.org/3/library/stdtypes.html#string-methods )

In [1]:
frase="hola soy Pepe"

In [2]:
print(frase.capitalize())

Hola soy pepe

`capitalize` Devuelve una copia de la cadena con su primer car√°cter en may√∫scula y el resto en min√∫sculas.

In [3]:
print(frase.upper())

HOLA SOY PEPE

`upper` Devuelve una copia de la cadena con todos los caracteres en may√∫sculas

In [4]:
print(frase.lower())

hola soy pepe

`lower` Devuelve una copia de la cadena con todos los caracteres en min√∫scula

In [5]:
print(frase.islower())

False

`islower` es como isupper pero....verificamos min√∫sculas

In [6]:
print(frase.swapcase())

HOLA SOY pEPE

`swapcase` Devuelve una copia de la cadena con caracteres en may√∫scula convertidos a min√∫sculas y viceversa.

In [7]:
print(frase.title())

Hola Soy Pepe

`title` Devuelve una versi√≥n en may√∫sculas de la cadena en la que las palabras comienzan con un car√°cter en may√∫scula y todos los dem√°s caracteres son en min√∫sculas.

In [15]:
frase2="Adios Pepe"
print(frase.join(frase + frase2))

hhola soy Pepeohola soy Pepelhola soy Pepeahola soy Pepe hola soy Pepeshola soy Pepeohola soy Pepeyhola soy Pepe hola soy PepePhola soy Pepeehola soy Pepephola soy Pepeehola soy PepeAhola soy Pepedhola soy Pepeihola soy Pepeohola soy Pepeshola soy Pepe hola soy PepePhola soy Pepeehola soy Pepephola soy Pepee

`join(iterable)`

Devuelve una cadena que es la concatenaci√≥n de las cadenas en el iterable. Se generar√° un TypeError si hay alg√∫n valor que no sea una cadena en el iterable, incluidos los objetos bytes. El separador entre elementos es la cadena proporcionada por este m√©todo.

## C√≥digo

`startswith` Devuelve True si la cadena comienza con el prefijo; de lo contrario, devuelve False. prefix tambi√©n puede ser una tupla de prefijos para buscar. Con el inicio opcional, verifica la cadena que comienza en esa posici√≥n. Con el fin opcional, deja de buscar la cadena en esa posici√≥n.

In [16]:
frase.startswith("hola")

True

`endswith` Devuelve Verdadero si la cadena termina con el sufijo especificado, de lo contrario devuelve Falso.

In [17]:
frase.endswith("Pepe")

True

`str.lstrip([chars])`
Devuelve una copia de la cadena con los caracteres iniciales eliminados. El argumento chars es una cadena que especifica el conjunto de caracteres que se eliminar√°n. Si se omite o no hay ninguno, el argumento chars elimina los espacios en blanco de forma predeterminada. El argumento chars no es un prefijo, pero se eliminan todas las combinaciones de sus valores:

In [ ]:
frase3 = " hola soy Pepe "

' hola soy Pepe '

`lstrip` y `rstrip` hacen lo mismo pero con espacios iniciales y finales

In [ ]:
frase3.lstrip()

'hola soy Pepe '

In [22]:
frase3.rstrip()

' hola soy Pepe'

`str.replace(old, new[, count])`
Devuelve una copia de la cadena con todas las apariciones de la subcadena old reemplazadas por new. Si se proporciona el argumento opcional count, solo se reemplazan las primeras apariciones de count.

In [23]:
frase.replace("Pepe", "Luis")

'hola soy Luis'

`str.split(sep=None)`
Devuelve una lista de las palabras de la cadena, utilizando sep como cadena delimitadora.

In [27]:
frase.split(sep=None)

['hola', 'soy', 'Pepe']

## Resumen
Ahora te toca a ti, ¬øqu√© hemos aprendido hoy?