# Introducción a Python

In [ ]:
"""
RECAP

QA: José Francisco
- Modelo de Óscar (tasación vs. categorización de si es rentable o no): 
    ML: 
        - supervisada: 
            - clasificación: perro/gato, paga/no paga, rentable/no rentable, enfermedad/no enfermedad
            - regresión: 300k, 25k, 
        - no supervisada: clusterización (agrupación)
    DL: redes neuronales
    IA generativa
    - https://scikit-learn.org/stable/unsupervised_learning.html

- Tipos de perfiles en data:
    - Data engineer
    - Data analyst
    - Machine learning engineer
    - Data scientist

    - Aunque esté definido, muchas veces se solapana o se confunden

- Python, Git, BBDD (relacionales y no relacionales), EDA, ETL, pipelines en general, ML, visualizaciones
- Linkedin como herramienta
- Aprender practicando
- IA sabiamente -> como apoyo pero no como solución (sobre todo al principio)
- Tolerancia a la frustración
- Medium, youtube (tutoriales), codewars (katas, challenges de código), documentación en general
- Manual: O'Reilly
"""

In [ ]:
# VSCode
# Jupyter

## Tipos de celdas en Jupyter Notebook

In [ ]:
print("Hello world")

## Markdown
- Headers
- Subheaders
- Bold / negrita
- Listas
- Listas numeradas
- Link
- Imágenes
- Citas
- Código en línea
- [Tablas](https://www.tablesgenerator.com/markdown_tables)
- Ecuaciones en línea 
- Bloques de ecuaciones

In [12]:
# markdownsdsdsdsdddddddd

In [ ]:
print("")
a = 10
a = "una string"

Hola

holaaaa

# markdownsdsdsdsdddddddd

# Título
## Subtítulo 1
### Subtítulo 2
#### Subtítulo 3
##### Subtítulo 4
###### Subtítulo 5
Texto normal

**Texto en negrita**

*Texto en cursiva*

Cosas que se pueden hacer en markdown:
- Elemento 1
- Elemento 2
- Elemento 3

Lista numerada:
1. Elemento 1
2. elemento 2
3. Elemento 3

[Documentación de ML](https://scikit-learn.org/stable/unsupervised_learning.html)

![Space cat](https://m.media-amazon.com/images/I/71-4jKZCKVL._AC_SY879_.jpg)

In [ ]:
# < alt="Es un gato montado en pizza en el espacio">

![Space cat](imagenes/gato.jpg)

![](imagenes/gato.jpg)

Esto es un ejemplo de código: `print("Hello world")`

```python
print("Hola mundo")
```

```sql
SELECT * FROM mi_tabla;
```

```python
SELECT * FROM mi_tabla;
```

```bash
ls
````

```
whoami
```

| a   | b     | c    | d | e |
|-----|-------|------|---|---|
| aaa | aaaaa | aaaa |   |   |
|     |       |      |   |   |
|     |       |      |   |   |

[Generador de tablas markdown](https://www.tablesgenerator.com/markdown_tables)

$E = mc^2$

## Código

- Código python
  - Comentarios en python
- Comandos de terminal
  - pwd
  - open .
  - ls .

In [22]:
!open .

In [23]:
!open https://www.tablesgenerator.com/markdown_tables

### Atajos

Para ejecutar la celda

- `ctrl + enter`
- `shift + enter` #esta ejecuta la celda y salta a la siguiente

- `a` para la nueva celda de arriba
- `b` para la nueva celda de abajo
- `d + d` para el modo de acceso directo
  
- `m` o `y` para cambiar entre markdwon y código

b -> below
a -> above

## Ejecución
- Play
- Kernel

In [1]:
num = 18

In [2]:
# num = 20

In [3]:
print(num)

18

In [4]:
print(num)
hola = "hola"

18

In [5]:
# kernel: sesión / caché / memoria temporal / memoria de trabajo de python dentro de jupyter

# refrescar el kernel
# sobre todo haciendo iteraciones con for / while, etc

# datasets muy pesados
# requests -> 
    # pesadas
    # limitaciones: num max de peticiones al minuto

# The Zen of Python

- [PEP-20](https://peps.python.org/pep-0020/), The Zen of Python
- [PEP-8](https://peps.python.org/pep-0008/), Estilo de código
- [PEP-257](https://peps.python.org/pep-0257/), Docstring
- [PEP-484](https://peps.python.org/pep-0484/), Anotaciones de tipado

In [6]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
# simple mejor que complejo

# codewars -> soluciones -> one-liner solution 
    # comprehension list

# Python, código y IDE

- Jupyter notebooks
- Archivos python
- VSCode

In [7]:
# jupyter notebook: pruebas, visibilidad, documentación, organizción, visualizaciones
# proyectos: moverlo a archivos python 
    # encapsulación: pasar líneas de código a una función
        # abstraerme: sum(a, b)
        # líneas a funciones: nombre -> simple 
        # modificaciones, debugging, añadir funcionalidades: si modifico el origen, modifico todo en cascada
    # modularización 
        # un sitio donde DEFINAMOS EL CÓDIGO: src (source, código fuente)
        # un sitio donde EJECUTEMOS EL CÓDIGO: este código fuente se importa en un archivo que ejecuta el archivo principal (main.py)
            # .exe, main.py (importar funciones definidas en otro sitio para ejecutarlas en el main.py)
    # proceso: jupyter -> encapsulamos (en funciones) -> movemos esas funciones a src/ -> desde el main.py importamos el códgo fuente

# Pipeline
"""
    - Extracción de Salesforce
    - Etracción google sheets
    - Una conexión con sharepoint
    - Un .csv un S3 en AWS
    - Un archivo transformar todo esto
    - Volcar esto en un sitio
"""
# Jupyter: servidor ejecutándose continuamente en MI ordenador: con un kernel, una memoria de trabajo, etc
# Archivos de python: s

'\n    - Extracción de Salesforce\n    - Etracción google sheets\n    - Una conexión con sharepoint\n    - Un .csv un S3 en AWS\n    - Un archivo transformar todo esto\n    - Volcar esto en un sitio\n'

In [ ]:
# extensiones
    # .ipynb
    # .py

In [8]:
!touch main.py # esto crea un archivo

In [5]:
import pandas as pd

alumnos = [{
    "Nombre": "Manuel Peña",
    "Ciudad": "Jaén",
    "Experiencia": "Conocimiento en IA/Big data. Herramientas nuevas",
    "Profesión": "Kryndil (IBM). Virtualización",
    "Hobby": "Andar"
},
{
    "Nombre": "Luis (Servando)",
    "Ciudad": "Málaga",
    "Experiencia": "Estadística/economía",
    "Profesión": "Banca",
    "Hobby": "Póker"
},
{
    "Nombre": "Óscar Fernández",
    "Ciudad": "Cuenca",
    "Experiencia": "Grado desarrollo apps",
    "Profesión": "Hostelería",
    "Hobby": "Música, deporte"
},
{
    "Nombre": "Albert Ripoll",
    "Ciudad": "Teià",
    "Experiencia": "Máster big data, Bootcamp DA",
    "Profesión": "Graduado en física",
    "Hobby": "Senderismo, baloncesto"
},
{
    "Nombre": "Pablo Padial",
    "Ciudad": "Madrid",
    "Experiencia": "Ingeniería",
    "Profesión": "Estudiante",
    "Hobby": "Deporte, fútbol, tenis"
},
{
    "Nombre": "Adrián Rodríguez",
    "Ciudad": "Sevilla",
    "Experiencia": "Sin experiencia en programación",
    "Profesión": "Hostelería/discotecas",
    "Hobby": "Gym 💪"
},
{
    "Nombre": "Enric Peñalver",
    "Ciudad": "Vilafranca del penedès",
    "Experiencia": "Ingeniería en matemática y física",
    "Profesión": "Estudiante",
    "Hobby": "Correr y calistenia"
},
{
    "Nombre": "David Gómez",
    "Ciudad": "Cuenca",
    "Experiencia": "Ingeniero industrial",
    "Profesión": "Ingeniero de procesos",
    "Hobby": "Impresión 3D y pádel"
},
{
    "Nombre": "Carlos Barrientos",
    "Ciudad": "Madrid",
    "Experiencia": "Grado superior finanzas y DAMP",
    "Profesión": "Admon",
    "Hobby": "Fútbol, piloto drones"
},
{
    "Nombre": "Vicmary Martínez",
    "Ciudad": "Venezuela/Madrid",
    "Experiencia": "Ing. procesos/química. CRM. Bases de datos, PowerBI, Excel, XML, HTML, C++. Python con IBM",
    "Profesión": "Grabadora de datos. Dynamic 365",
    "Hobby": "Salsa"
},
{
    "Nombre": "Pial Islam",
    "Ciudad": "Bangladesh/Barcelona",
    "Experiencia": "Graduado en informática",
    "Profesión": "Estudiante/buscando trabajo",
    "Hobby": "Senderismo"
}
]
#!pip install pandas
df = pd.DataFrame(alumnos)
df

,Nombre,Ciudad,Experiencia,Profesión,Hobby
0,Manuel Peña,Jaén,Conocimiento en IA/Big data. Herramientas nuevas,Kryndil (IBM). Virtualización,Andar
1,Luis (Servando),Málaga,Estadística/economía,Banca,Póker
2,Óscar Fernández,Cuenca,Grado desarrollo apps,Hostelería,"Música, deporte"
3,Albert Ripoll,Teià,"Máster big data, Bootcamp DA",Graduado en física,"Senderismo, baloncesto"
4,Pablo Padial,Madrid,Ingeniería,Estudiante,"Deporte, fútbol, tenis"
5,Adrián Rodríguez,Sevilla,Sin experiencia en programación,Hostelería/discotecas,Gym 💪
6,Enric Peñalver,Vilafranca del penedès,Ingeniería en matemática y física,Estudiante,Correr y calistenia
7,David Gómez,Cuenca,Ingeniero industrial,Ingeniero de procesos,Impresión 3D y pádel
8,Carlos Barrientos,Madrid,Grado superior finanzas y DAMP,Admon,"Fútbol, piloto drones"
9,Vicmary Martínez,Venezuela/Madrid,"Ing. procesos/química. CRM. Bases de datos, Po...",Grabadora de datos. Dynamic 365,Salsa
10,Pial Islam,Bangladesh/Barcelona,Graduado en informática,Estudiante/buscando trabajo,Senderismo

# Tipo de datos

- int: números enteros
- float: decimales
- str
- booleans: True / False

# Int

In [6]:
5

5

In [7]:
num = 5

In [8]:
type(num)

int

In [9]:
num = 5.0
type(num)

float

In [10]:
type(5)

int

In [11]:
type(num)

float

In [12]:
type(num) == float

# check:
    # lo que espero recibir tiene que ser esto
    # para que no rompa luego en el pipeline

# programación defensiva
   # anticiparnos a los problemas antes de que aparezcan
   # comprobación de los tipos

True

## Floats

In [13]:
5.09 # decimales

5.09

In [14]:
type(5.09)

float

## Operaciones básicas

In [16]:
a = 10
b = 4

a * b

40

In [17]:
a = 10
b = 4

a + b

14

In [18]:
a = 10
b = 4

a - b

6

In [19]:
a = 10
b = 4

a / b

2.5

In [20]:
a = 10
b = 3

a / b

3.3333333333333335

`floor division`

In [21]:
a = 10
b = 3

a // b

3

`modulus`

In [22]:
a = 17
b = 15

a % b # resto

2

In [23]:
a = 10
b = 3

a % b

1

`exponente`

In [24]:
# e = mc^2
3 * 3

9

In [25]:
3 ** 2 # do le asterisco para elevar a la potencia

9

## Strings

- Comment
- Multi-line comment
- Break line
- Emojis

In [27]:
"aaaaaaaasasas"

'aaaaaaaasasas'

In [26]:
'aaaaaaaasasas'

'aaaaaaaasasas'

In [31]:
'aaaaaaaasasas'"

SyntaxError: EOL while scanning string literal (2828443390.py, line 1)

In [38]:
comentario_multi_linea = """comillas triples
para poder tener un comentario multiniea    
holaaa"""


comentario_multi_linea

'comillas triples\npara poder tener un comentario multiniea    \nholaaa'

In [ ]:
# \n: salto de línea
# \t: tab (5 espacios en blanco)

In [40]:
comentario_multi_linea = """comillas triples
para poder tener un comentario \t\tmultiniea    
holaaa"""

print(comentario_multi_linea)

comillas triples
para poder tener un comentario 		multiniea
holaaa

In [ ]:
# regex: caracteres que escapan: \

In [42]:
string_vacia = ""
type(string_vacia)

str

In [44]:
string_con_emoticonos = "3456ytgvbniu765r😍"
string_con_emoticonos

'3456ytgvbniu765r😍'

Iconos en macOS: `ctrl` + `command` + `space` ó 🌍

Iconos en Windows: tecla `windows` & `.`

## Cast

Conversión de tipado

In [ ]:
# int, float, string
# booleanos


# tipos de datos:  int, float, string, booleanos
# estructuras de datos: listas, diccionarios, sets, tuplas
    # métodos asociados a la estructura 
    # formas de acceder / iterar por los elementos individuales de cada estructura

In [45]:
num = 5

In [49]:
num = float(num)

In [50]:
type(num)

float

In [ ]:
# casteo = un cambio de tipo de dato
    # de int a float
    # pasando la función (built-in, nativa), que recibe un argumento que es la variable en sí
   # si no lo guardo en una variable (o machando la misma-num- o en otra, no se guarda)

In [51]:
num = float(num)

In [53]:
float(num)

5.0

In [54]:
# si veo output (jupyter): que vea el cambio porque no es un cambio que se quede guardado
# cuaando NO vel cambio: seguramente se haya modificado aquella estructyura que esté trabajando

# modificar una string, o una columna -> enseñarnos el resultado de haber hecho la modificación

In [55]:
saludo = "Hola qué tal"
saludo.upper() # devolviendo una COPIA de haber aplicado esta transformación al original

'HOLA QUÉ TAL'

In [56]:
saludo

'Hola qué tal'

In [57]:
saludo = "Hola qué tal"
saludo = saludo.upper()
saludo

'HOLA QUÉ TAL'

In [ ]:
df.rename(columns={"Hobby":"Afición"}, inplace=True) # no devuelve nada (visual), seguramente se haya modificado el objeto que estoy pasando

In [72]:
df.rename(columns={"Nombre":"NOMBRE"}, inplace=True)

In [73]:
df

,NOMBRE,Ciudad,Experiencia,Profesión,Afición
0,Manuel Peña,Jaén,Conocimiento en IA/Big data. Herramientas nuevas,Kryndil (IBM). Virtualización,Andar
1,Luis (Servando),Málaga,Estadística/economía,Banca,Póker
2,Óscar Fernández,Cuenca,Grado desarrollo apps,Hostelería,"Música, deporte"
3,Albert Ripoll,Teià,"Máster big data, Bootcamp DA",Graduado en física,"Senderismo, baloncesto"
4,Pablo Padial,Madrid,Ingeniería,Estudiante,"Deporte, fútbol, tenis"
5,Adrián Rodríguez,Sevilla,Sin experiencia en programación,Hostelería/discotecas,Gym 💪
6,Enric Peñalver,Vilafranca del penedès,Ingeniería en matemática y física,Estudiante,Correr y calistenia
7,David Gómez,Cuenca,Ingeniero industrial,Ingeniero de procesos,Impresión 3D y pádel
8,Carlos Barrientos,Madrid,Grado superior finanzas y DAMP,Admon,"Fútbol, piloto drones"
9,Vicmary Martínez,Venezuela/Madrid,"Ing. procesos/química. CRM. Bases de datos, Po...",Grabadora de datos. Dynamic 365,Salsa
10,Pial Islam,Bangladesh/Barcelona,Graduado en informática,Estudiante/buscando trabajo,Senderismo

### Cast explícito
Por otro lado, podemos realizar conversiones entre tipos o casteos de forma explícita utilizando diferentes funciones que nos proporciona Python. Las más utilizadas son las siguientes:

`float(), str(), int(), list(), set()`

#### Convertir float a int
Para convertir de float a int debemos usar int(). Pero tenga cuidado, porque el tipo entero no puede almacenar decimales, por lo que perderemos lo que esté después del punto decimal.

In [74]:
int(5.0)

5

In [75]:
int(5.3)

5

#### Convertir un float en una string
Podemos convertir un float en una cadena con str(). Podemos ver en el siguiente código cómo cambia el tipo de a después de la conversión.

In [76]:
str(5.8)

'5.8'

#### Convertir int a str
Al igual que la conversión a float anterior, podemos convertir de string a int usando int().

In [77]:
str(5)

'5'

In [79]:
float(544.0876)

544.0876

In [80]:
int(5.2323)

5

In [81]:
int("5")

5

In [82]:
int("5.6")

ValueError: invalid literal for int() with base 10: '5.6'

In [84]:
int(float("5.6"))

5

### Cast implítico
Esta conversión de tipos la realiza Python de forma automática, prácticamente sin que nos demos cuenta. Aun así, es importante saber qué está pasando por debajo para evitar problemas futuros.

El ejemplo más sencillo en el que podemos ver este comportamiento es el siguiente:

- a es un int
- b es un float

Pero si sumamos a y b y almacenamos el resultado en a, podemos ver cómo internamente Python ha convertido el int en float para realizar la operación, y la variable resultante es float.
Sin embargo, hay otros casos en los que Python no es tan inteligente y no es capaz de realizar la conversión. Si intentamos agregar un int a una cadena, obtendremos un TypeError.

In [86]:
10 / 2

5.0

In [87]:
10 / 2.0

5.0

## Input
### Input
Para asignar una variable a un valor ingresado por el usuario en la consola, utilice la instrucción
`input(message) : Muestra el mensaje de la cadena por la terminal y devuelve una cadena con la entrada`

In [88]:
nombre = "Álvaro"

In [91]:
nombre = input("¿Cuál es tu nombre?: ")

In [92]:
nombre

'AHolñaaaaa'

In [102]:
edad = int(input("¿Cuántos años tienes?: "))
edad

30

In [99]:
int(edad)

25

In [98]:
int(edad) * 3

75

#### Programación defensiva

### Print
La función print() imprime el mensaje especificado en la pantalla o en otro dispositivo de salida estándar.

El mensaje puede ser una cadena o cualquier otro objeto; el objeto se convertirá en una cadena antes de escribirse en la pantalla.

In [103]:
print("fywdsfsdfz")

fywdsfsdfz

## Format

### Formato - 1

In [104]:
print(num)

5.0

In [107]:
f"La edad es edad"

'La edad es edad'

In [110]:
f"La edad es {edad} y el número es {num}"

'La edad es 30 y el número es 5.0'

### Formato - 2

In [108]:
"La edad es {}".format(edad)

'La edad es 30'

In [109]:
"La edad es {} y el número es {}".format(edad, num)

'La edad es 30 y el número es 5.0'

In [ ]:
# Data types
    # int
    # float
    # str: métodos
    # booleans: True y False

# Estructuras de datos
    # listas, diccionarios, tuplas, set

# El print/visibilidad de el output

## String

### Métodos de string
Los métodos son acciones o funciones que un objeto puede realizar. Así como Python ofrece una serie de funciones “integradas”, también nos ofrece un conjunto de métodos ya creados. Estos métodos dependen del tipo de objeto con el que estemos trabajando.

Vamos a explicar en clase algunos de los métodos más utilizados, pero ten en cuenta que siempre debes tener presente la [documentación](https://docs.python.org/3/library/stdtypes.html#string-methods )

`capitalize` Devuelve una copia de la cadena con su primer carácter en mayúscula y el resto en minúsculas.

`upper` Devuelve una copia de la cadena con todos los caracteres en mayúsculas

`lower` Devuelve una copia de la cadena con todos los caracteres en minúscula

`islower` es como isupper pero....verificamos minúsculas

`swapcase` Devuelve una copia de la cadena con caracteres en mayúscula convertidos a minúsculas y viceversa.

`title` Devuelve una versión en mayúsculas de la cadena en la que las palabras comienzan con un carácter en mayúscula y todos los demás caracteres son en minúsculas.

`join(iterable)`

Devuelve una cadena que es la concatenación de las cadenas en el iterable. Se generará un TypeError si hay algún valor que no sea una cadena en el iterable, incluidos los objetos bytes. El separador entre elementos es la cadena proporcionada por este método.

## Código

`startswith` Devuelve True si la cadena comienza con el prefijo; de lo contrario, devuelve False. prefix también puede ser una tupla de prefijos para buscar. Con el inicio opcional, verifica la cadena que comienza en esa posición. Con el fin opcional, deja de buscar la cadena en esa posición.

`endswith` Devuelve Verdadero si la cadena termina con el sufijo especificado, de lo contrario devuelve Falso.

`str.lstrip([chars])`
Devuelve una copia de la cadena con los caracteres iniciales eliminados. El argumento chars es una cadena que especifica el conjunto de caracteres que se eliminarán. Si se omite o no hay ninguno, el argumento chars elimina los espacios en blanco de forma predeterminada. El argumento chars no es un prefijo, pero se eliminan todas las combinaciones de sus valores:

`lstrip` y `rstrip` hacen lo mismo pero con espacios iniciales y finales

`str.replace(old, new[, count])`
Devuelve una copia de la cadena con todas las apariciones de la subcadena old reemplazadas por new. Si se proporciona el argumento opcional count, solo se reemplazan las primeras apariciones de count.

`str.split(sep=None)`
Devuelve una lista de las palabras de la cadena, utilizando sep como cadena delimitadora.

## Resumen
Ahora te toca a ti, ¿qué hemos aprendido hoy?