# Introducción a Python

## Tipos de celdas en Jupyter Notebook

## Markdown
- Headers
- Subheaders
- Bold / negrita
- Listas
- Listas numeradas
- Link
- Imágenes
- Citas
- Código en línea
- [Tablas](https://www.tablesgenerator.com/markdown_tables)
- Ecuaciones en línea 
- Bloques de ecuaciones

Hola

# Título

## Subtítulo 1

### Subtítulo 2

#### Subtítulo 3

**Texto en negrita**

***Texto en cursiva***

Cosas que se pueden hacer en markdown
- Elemento 1
- Elemento 2
- Elemento 3

Lista numerada
1. Elemento 1
2. Elemento 2
3. Elemento 3

[Documentación de ML](https://scikit-learn.org/stable/unsupervised_learning.html)

![Space cat](https://m.media-amazon.com/images/I/71-4jKZCKVL._AC_SY879_.jpg)

Esto es un ejemplo de código: `print("Hello world")`

In [1]:
print("Hola mundo")

Hola mundo

```sql
SELECT * FROM mi_tabla;
```

```python
SELECT * FROM mi_tabla;
```

```bash
ls
```

| a   | b     | c    | d | e |
|-----|-------|------|---|---|
| aaa | aaaaa | aaaa |   |   |
|     |       |      |   |   |
|     |       |      |   |   |

[Generador de tablas markdown](https://www.tablesgenerator.com/markdown_tables)

$E = mc^2$

## Código

- Código python
  - Comentarios en python
- Comandos de terminal
  - pwd
  - open .
  - ls .

In [5]:
!open https://www.tablesgenerator.com/markdown_tables

### Atajos

Para ejecutar la celda

- `ctrl + enter`
- `shift + enter` #esta ejecuta la celda y salta a la siguiente

- `a` para la nueva celda de arriba
- `b` para la nueva celda de abajo
- `d + d para el modo de acceso directo
  
- `m` o `y` para cambiar entre markdwon y código

b -> below
a -> above

## Ejecución
- Play
- Kernel

In [6]:
num = 18

In [7]:
print(num)

18

# The Zen of Python

- [PEP-20](https://peps.python.org/pep-0020/), The Zen of Python
- [PEP-8](https://peps.python.org/pep-0008/), Estilo de código
- [PEP-257](https://peps.python.org/pep-0257/), Docstring
- [PEP-484](https://peps.python.org/pep-0484/), Anotaciones de tipado

In [8]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Python, código y IDE

- Jupyter notebooks
- Archivos python
- VSCode

In [9]:
!touch main.py # esto crea un archivo

In [10]:
import pandas as pd

alumnos = [{
    "Nombre": "Manuel Peña",
    "Ciudad": "Jaén",
    "Experiencia": "Conocimiento en IA/Big data. Herramientas nuevas",
    "Profesión": "Kryndil (IBM). Virtualización",
    "Hobby": "Andar"
},
{
    "Nombre": "Luis (Servando)",
    "Ciudad": "Málaga",
    "Experiencia": "Estadística/economía",
    "Profesión": "Banca",
    "Hobby": "Póker"
},
{
    "Nombre": "Óscar Fernández",
    "Ciudad": "Cuenca",
    "Experiencia": "Grado desarrollo apps",
    "Profesión": "Hostelería",
    "Hobby": "Música, deporte"
},
{
    "Nombre": "Albert Ripoll",
    "Ciudad": "Teià",
    "Experiencia": "Máster big data, Bootcamp DA",
    "Profesión": "Graduado en física",
    "Hobby": "Senderismo, baloncesto"
},
{
    "Nombre": "Pablo Padial",
    "Ciudad": "Madrid",
    "Experiencia": "Ingeniería",
    "Profesión": "Estudiante",
    "Hobby": "Deporte, fútbol, tenis"
},
{
    "Nombre": "Adrián Rodríguez",
    "Ciudad": "Sevilla",
    "Experiencia": "Sin experiencia en programación",
    "Profesión": "Hostelería/discotecas",
    "Hobby": "Gym 💪"
},
{
    "Nombre": "Enric Peñalver",
    "Ciudad": "Vilafranca del penedès",
    "Experiencia": "Ingeniería en matemática y física",
    "Profesión": "Estudiante",
    "Hobby": "Correr y calistenia"
},
{
    "Nombre": "David Gómez",
    "Ciudad": "Cuenca",
    "Experiencia": "Ingeniero industrial",
    "Profesión": "Ingeniero de procesos",
    "Hobby": "Impresión 3D y pádel"
},
{
    "Nombre": "Carlos Barrientos",
    "Ciudad": "Madrid",
    "Experiencia": "Grado superior finanzas y DAMP",
    "Profesión": "Admon",
    "Hobby": "Fútbol, piloto drones"
},
{
    "Nombre": "Vicmary Martínez",
    "Ciudad": "Venezuela/Madrid",
    "Experiencia": "Ing. procesos/química. CRM. Bases de datos, PowerBI, Excel, XML, HTML, C++. Python con IBM",
    "Profesión": "Grabadora de datos. Dynamic 365",
    "Hobby": "Salsa"
},
{
    "Nombre": "Pial Islam",
    "Ciudad": "Bangladesh/Barcelona",
    "Experiencia": "Graduado en informática",
    "Profesión": "Estudiante/buscando trabajo",
    "Hobby": "Senderismo"
}
]
#!pip install pandas
df = pd.DataFrame(alumnos)
df

,Nombre,Ciudad,Experiencia,Profesión,Hobby
0,Manuel Peña,Jaén,Conocimiento en IA/Big data. Herramientas nuevas,Kryndil (IBM). Virtualización,Andar
1,Luis (Servando),Málaga,Estadística/economía,Banca,Póker
2,Óscar Fernández,Cuenca,Grado desarrollo apps,Hostelería,"Música, deporte"
3,Albert Ripoll,Teià,"Máster big data, Bootcamp DA",Graduado en física,"Senderismo, baloncesto"
4,Pablo Padial,Madrid,Ingeniería,Estudiante,"Deporte, fútbol, tenis"
5,Adrián Rodríguez,Sevilla,Sin experiencia en programación,Hostelería/discotecas,Gym 💪
6,Enric Peñalver,Vilafranca del penedès,Ingeniería en matemática y física,Estudiante,Correr y calistenia
7,David Gómez,Cuenca,Ingeniero industrial,Ingeniero de procesos,Impresión 3D y pádel
8,Carlos Barrientos,Madrid,Grado superior finanzas y DAMP,Admon,"Fútbol, piloto drones"
9,Vicmary Martínez,Venezuela/Madrid,"Ing. procesos/química. CRM. Bases de datos, Po...",Grabadora de datos. Dynamic 365,Salsa
10,Pial Islam,Bangladesh/Barcelona,Graduado en informática,Estudiante/buscando trabajo,Senderismo

# Tipo de datos

- int: números enteros
- float: decimales
- str
- booleans: True / False

# Int

In [11]:
5

5

In [12]:
num = 5

In [13]:
type(num)

int

## Floats

In [ ]:
5.09 #decimales

5.09

In [15]:
type(5.09)

float

## Operaciones básicas

In [16]:
a = 10
b = 4

a * b

40

In [17]:
a + b

14

In [18]:
a - b

6

In [19]:
a / b

2.5

In [20]:
a = 10
b = 3

a / b

3.3333333333333335

`floor division`

In [21]:
a = 10
b = 3

a // b

3

`modulus`

In [22]:
a = 17
b = 15

a % b #resto

2

`exponente`

In [23]:
3 ** 2

9

## Strings

- Comment
- Multi-line comment
- Break line
- Emojis

In [24]:
"aaaaaaaaaasssasa"

'aaaaaaaaaasssasa'

In [ ]:
comentario_multi_linea = """comillas triples para poder tener un comentario multilinea holaaa"""

comentario_multi_linea

'comillas triples para poder tener un comentario multilinea holaaa'

In [26]:
# \n: salto de línea
# \t: tabulador (5 espacios en blanco)

In [29]:
comentario_multi_linea = """comillas triples
para poder tener un comentario \t\tmultilinea    
holaaa"""

print(comentario_multi_linea)

comillas triples
para poder tener un comentario 		multilinea
holaaa

In [30]:
# regex: caracteres que escapan: \

In [31]:
string_vacia = ""
type(string_vacia)

str

In [32]:
string_con_emoticonos= "3456ytgvbniu765r"
string_con_emoticonos

'3456ytgvbniu765r'

Iconos en macOS: `ctrl` + `command` + `space` ó 🌍

Iconos en Windows: tecla `windows` & `.`

## Cast

Conversión de tipado

In [33]:
num = 5

In [34]:
num = float(num)

In [35]:
type(num)

float

In [36]:
# casteo = un cambio de tipo de dato
    # de int a float
    # pasando la función que recibe un argumento que es la variable en sí
    # si no lo guardo en una variable (o machando la misma-num- o en otra, no se guarda)

In [37]:
saludo = "Hola qué tal"
saludo.upper() # devolviendo una COPIA de haber aplicado esta transformación al original

'HOLA QUÉ TAL'

In [38]:
saludo

'Hola qué tal'

In [39]:
saludo = "Hola qué tal"
saludo = saludo.upper()
saludo

'HOLA QUÉ TAL'

In [40]:
df.rename(columns={"Hobby":"Afición"}, inplace=True) # no devuelve nada (visual), seguramente se haya modificado el objeto que estoy pasando

In [41]:
df.rename(columns={"Nombre":"NOMBRE"}, inplace=True)

In [42]:
df

,NOMBRE,Ciudad,Experiencia,Profesión,Afición
0,Manuel Peña,Jaén,Conocimiento en IA/Big data. Herramientas nuevas,Kryndil (IBM). Virtualización,Andar
1,Luis (Servando),Málaga,Estadística/economía,Banca,Póker
2,Óscar Fernández,Cuenca,Grado desarrollo apps,Hostelería,"Música, deporte"
3,Albert Ripoll,Teià,"Máster big data, Bootcamp DA",Graduado en física,"Senderismo, baloncesto"
4,Pablo Padial,Madrid,Ingeniería,Estudiante,"Deporte, fútbol, tenis"
5,Adrián Rodríguez,Sevilla,Sin experiencia en programación,Hostelería/discotecas,Gym 💪
6,Enric Peñalver,Vilafranca del penedès,Ingeniería en matemática y física,Estudiante,Correr y calistenia
7,David Gómez,Cuenca,Ingeniero industrial,Ingeniero de procesos,Impresión 3D y pádel
8,Carlos Barrientos,Madrid,Grado superior finanzas y DAMP,Admon,"Fútbol, piloto drones"
9,Vicmary Martínez,Venezuela/Madrid,"Ing. procesos/química. CRM. Bases de datos, Po...",Grabadora de datos. Dynamic 365,Salsa
10,Pial Islam,Bangladesh/Barcelona,Graduado en informática,Estudiante/buscando trabajo,Senderismo

### Cast explícito
Por otro lado, podemos realizar conversiones entre tipos o casteos de forma explícita utilizando diferentes funciones que nos proporciona Python. Las más utilizadas son las siguientes:

`float(), str(), int(), list(), set()`

#### Convertir float a int
Para convertir de float a int debemos usar int(). Pero tenga cuidado, porque el tipo entero no puede almacenar decimales, por lo que perderemos lo que esté después del punto decimal.

In [43]:
int(5.0)

5

In [44]:
int(5.3)

5

#### Convertir un float en una string
Podemos convertir un float en una cadena con str(). Podemos ver en el siguiente código cómo cambia el tipo de a después de la conversión.

In [45]:
str(5.8)

'5.8'

#### Convertir int a str
Al igual que la conversión a float anterior, podemos convertir de string a int usando int().

In [46]:
str(5)

'5'

In [47]:
float(544.0876)

544.0876

In [48]:
int(5.2323)

5

In [49]:
int("5")

5

In [50]:
int("5.6")

ValueError: invalid literal for int() with base 10: '5.6'

In [51]:
int(float("5.6"))

5

### Cast implítico
Esta conversión de tipos la realiza Python de forma automática, prácticamente sin que nos demos cuenta. Aun así, es importante saber qué está pasando por debajo para evitar problemas futuros.

El ejemplo más sencillo en el que podemos ver este comportamiento es el siguiente:

- a es un int
- b es un float

Pero si sumamos a y b y almacenamos el resultado en a, podemos ver cómo internamente Python ha convertido el int en float para realizar la operación, y la variable resultante es float.
Sin embargo, hay otros casos en los que Python no es tan inteligente y no es capaz de realizar la conversión. Si intentamos agregar un int a una cadena, obtendremos un TypeError.

In [52]:
10 / 2

5.0

In [53]:
10 / 2.0

5.0

## Input
### Input
Para asignar una variable a un valor ingresado por el usuario en la consola, utilice la instrucción
`input(message) : Muestra el mensaje de la cadena por la terminal y devuelve una cadena con la entrada`

In [54]:
nombre = "Álvaro"

In [4]:
nombre = input("¿Cuál es tu nombre?: ")

In [5]:
nombre

'Pepe'

In [6]:
edad = int(input("¿Cuántos años tienes?: "))
edad

38

In [8]:
int(edad) * 3

114

#### Programación defensiva

### Print
La función print() imprime el mensaje especificado en la pantalla o en otro dispositivo de salida estándar.

El mensaje puede ser una cadena o cualquier otro objeto; el objeto se convertirá en una cadena antes de escribirse en la pantalla.

In [9]:
print("asdasodnasds")

asdasodnasds

## Format

### Formato - 1

In [11]:
num = 5
print(num)

5

In [12]:
f"La edad es edad"

'La edad es edad'

In [13]:
f"La edad es {edad} y el número es {num}"

'La edad es 38 y el número es 5'

### Formato - 2

In [14]:
"La edad es {}".format(edad)

'La edad es 38'

In [15]:
"La edad es {} y el número es {}".format(edad, num)

'La edad es 38 y el número es 5'

## String

### Métodos de string
Los métodos son acciones o funciones que un objeto puede realizar. Así como Python ofrece una serie de funciones “integradas”, también nos ofrece un conjunto de métodos ya creados. Estos métodos dependen del tipo de objeto con el que estemos trabajando.

Vamos a explicar en clase algunos de los métodos más utilizados, pero ten en cuenta que siempre debes tener presente la [documentación](https://docs.python.org/3/library/stdtypes.html#string-methods )

In [1]:
frase="hola soy Pepe"

In [2]:
print(frase.capitalize())

Hola soy pepe

`capitalize` Devuelve una copia de la cadena con su primer carácter en mayúscula y el resto en minúsculas.

In [3]:
print(frase.upper())

HOLA SOY PEPE

`upper` Devuelve una copia de la cadena con todos los caracteres en mayúsculas

In [4]:
print(frase.lower())

hola soy pepe

`lower` Devuelve una copia de la cadena con todos los caracteres en minúscula

In [5]:
print(frase.islower())

False

`islower` es como isupper pero....verificamos minúsculas

In [6]:
print(frase.swapcase())

HOLA SOY pEPE

`swapcase` Devuelve una copia de la cadena con caracteres en mayúscula convertidos a minúsculas y viceversa.

In [7]:
print(frase.title())

Hola Soy Pepe

`title` Devuelve una versión en mayúsculas de la cadena en la que las palabras comienzan con un carácter en mayúscula y todos los demás caracteres son en minúsculas.

In [15]:
frase2="Adios Pepe"
print(frase.join(frase + frase2))

hhola soy Pepeohola soy Pepelhola soy Pepeahola soy Pepe hola soy Pepeshola soy Pepeohola soy Pepeyhola soy Pepe hola soy PepePhola soy Pepeehola soy Pepephola soy Pepeehola soy PepeAhola soy Pepedhola soy Pepeihola soy Pepeohola soy Pepeshola soy Pepe hola soy PepePhola soy Pepeehola soy Pepephola soy Pepee

`join(iterable)`

Devuelve una cadena que es la concatenación de las cadenas en el iterable. Se generará un TypeError si hay algún valor que no sea una cadena en el iterable, incluidos los objetos bytes. El separador entre elementos es la cadena proporcionada por este método.

## Código

`startswith` Devuelve True si la cadena comienza con el prefijo; de lo contrario, devuelve False. prefix también puede ser una tupla de prefijos para buscar. Con el inicio opcional, verifica la cadena que comienza en esa posición. Con el fin opcional, deja de buscar la cadena en esa posición.

In [16]:
frase.startswith("hola")

True

`endswith` Devuelve Verdadero si la cadena termina con el sufijo especificado, de lo contrario devuelve Falso.

In [17]:
frase.endswith("Pepe")

True

`str.lstrip([chars])`
Devuelve una copia de la cadena con los caracteres iniciales eliminados. El argumento chars es una cadena que especifica el conjunto de caracteres que se eliminarán. Si se omite o no hay ninguno, el argumento chars elimina los espacios en blanco de forma predeterminada. El argumento chars no es un prefijo, pero se eliminan todas las combinaciones de sus valores:

In [ ]:
frase3 = " hola soy Pepe "

' hola soy Pepe '

`lstrip` y `rstrip` hacen lo mismo pero con espacios iniciales y finales

In [ ]:
frase3.lstrip()

'hola soy Pepe '

In [22]:
frase3.rstrip()

' hola soy Pepe'

`str.replace(old, new[, count])`
Devuelve una copia de la cadena con todas las apariciones de la subcadena old reemplazadas por new. Si se proporciona el argumento opcional count, solo se reemplazan las primeras apariciones de count.

In [23]:
frase.replace("Pepe", "Luis")

'hola soy Luis'

`str.split(sep=None)`
Devuelve una lista de las palabras de la cadena, utilizando sep como cadena delimitadora.

In [27]:
frase.split(sep=None)

['hola', 'soy', 'Pepe']

## Resumen
Ahora te toca a ti, ¿qué hemos aprendido hoy?